* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: url(bg_main.gif);
}
.container {
  width: 990px;
  margin-left: 240px;
  padding: 0;
}
.border-color {
  border-bottom: 5px solid #4ba614;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
.header-color {
  background-color: #683091;
}
.hover-color {
  background-color: #4ba614;
  color: white;
}
.selaider {
  margin-left: 300px;
}
.top-img {
  background: url(c\ .jpg);
  height: 300px;
}
.heder-info {
  display: flex;
  justify-content: space-around;
}
.heder-logo img {
  width: 70px;
  margin-top: 10px;
  height: auto;
}
.heder-text h1 {
  color: white;
  font-size: 40px;
  margin-top: 130px;
  text-shadow: 5px 5px 20px #000000;
  font-weight: bold;
}
