* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: url(bg_main.gif);
}
.container {
  width: 990px;
  margin-left: 240px;
  padding: 0;
}
.border-color {
  border-bottom: 5px solid #4ba614;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
.header-color {
  background-color: #683091;
}
.hover-color {
  background-color: #4ba614;
  color: white;
}
.selaider {
  margin-left: 300px;
}
.top-img {
  background: url(c\ .jpg);
  height: 300px;
}
.heder-info {
  display: flex;
  justify-content: space-around;
}
.heder-logo img {
  width: 70px;
  margin-top: 10px;
  height: auto;
}
.heder-text h1 {
  color: white;
  font-size: 40px;
  margin-top: 130px;
  text-shadow: 5px 5px 20px #000000;
  font-weight: bold;
}
.img-tap {
  justify-content: space-between;
  display: flex;
}
.tap-text {
  background-color: #683091;
  color: white;
  padding: 0px 20px;
}
#mrg-background {
  background-color: #e2eceb;
  color: #900;
}
.HomePage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.page-1 {
  width: 680px;
  background-color: #4ba614;
  padding: 5px;
}
.page-2 {
  width: 260px;
  padding: 5px;
  background-color: #4ba614;3
  }
.page-3{
  width: 680px;
  /* background-color: #683091; */
  display: flex;
  

  
}

.obline-info{
  width: 340px;
  color: #000000;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #d7d7d7;
  height: 160px;

}
.obline-info a{
  color: #000000;
}
.mojib-logo{
  width: 340px;
  padding: 10px;
  background-color: #f5f5f5; 
  border: 1px solid #d7d7d7;
  margin: 0px 0px 0px 20px;
  height: 160px;


}
.mojib-logo img{
  height: 140px;
}
.admitions-on{
  display: flex;
}
.bg-block-list{
  margin-left: 5px;
  background: url(bullet_arrow.png);
  background-repeat: no-repeat;
}
.bg{
  margin-left: 10px;
}
.color-form{
  color: #666;
}