* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: url(bg_main.gif);
}
.container {
  width: 990px;
  margin-left: 240px;
  padding: 0;
}
.border-color {
  border-bottom: 5px solid #4ba614;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
.header-color {
  background-color: #683091;
}
.hover-color {
  background-color: #4ba614;
  color: white;
}
.selaider {
  margin-left: 300px;
}
.top-img {
  background: url(c\ .jpg);
  height: 300px;
}
.heder-info {
  display: flex;
  justify-content: space-around;
}
.heder-logo img {
  width: 70px;
  margin-top: 10px;
  height: auto;
}
.heder-text h1 {
  color: white;
  font-size: 40px;
  margin-top: 130px;
  text-shadow: 5px 5px 20px #000000;
  font-weight: bold;
}
.img-tap {
  justify-content: space-between;
  display: flex;
}
.tap-text {
  background-color: #683091;
  color: white;
  padding: 0px 20px;
}
#mrg-background {
  background-color: #e2eceb;
  color: #900;
}
.HomePage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.page-1 {
  width: 680px;
  background-color: #4ba614;
  padding: 5px;
}
.page-2 {
  width: 260px;
  padding: 5px;
  background-color: #4ba614;3
  }


  /* homePage  */
  .homepage {
    display: flex;
    /* height: 600px; */
    align-items: stretch;
    margin-top: 20px;
  }
  .box-2 {
    width: 200px;
  }
  .box-1 p{
    padding: 5px;
    background-color: #4ba614;
    color: white;
    width: 200px;
  }
  .box-2{
    /* background-color: #683091; */
  }
  .box-2 li{
    color: #900;
    padding: 5px;
    margin-left: 5px;
  }
  .box-2 li a{
    color: #666;
  }
  .box-2 p{
    padding: 5px;
    color: white;
    background-color: #4ba614;
    width: 780px;
  }
  .box-1 img{
    height: 145px;
    width: 135px;
    margin-left: 30px;
  }
  .box-1 h6{
    font-size: 12px;
  }
  .online{
    background-color: #f5f5f5;
    border: 1px solid gray;
    width: 380px;
  }
  .admission-detail{
    display: flex;
  }
 
  .online-Admission h4{
    margin-left: 10px;
  }
  .admission-from{
    background-image: url(bullet_arrow.png);
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 240px;
  }
  .admission-from a{
    color: #000000;
  }
  .admission-from img{
    margin-left: 10px;
  }
  .admission-img img{
    width: 100px;
    margin-left: 10px;
  }
  .mujib-logo{
    background-color: #f5f5f5;
    border: 1px solid gray;
    width: 380px;
    margin-left: 20px;
  }
  .mujib-logo img{
    height: 160px;
    margin: 10px;
  }
  .home-al-detail{
    display: flex;
  }
  .home-notice{
    background-color: #4ba614;
  }
  .al-notice{
    /* height: 600px; */
    padding: 10px 0 20px 120px;
    margin-right: 10px;
    background-image: url(img/bg_notice_board.png);
    background-repeat: no-repeat;

  }
  .submit{
    border: none;
    padding: 0px 20px;
    background-image: linear-gradient(#666, #a6a6a6);
    float: right;
  }
  hr{
    color: #000000;
    background-color: ;
  }
  .box-3{
    padding: 5px;
    background-color: #4ba614;
    color: white;
    width: 200px;
  }
  .al-notice-1{
    padding: 10px 0 20px 120px;
    background-color: #f9f9f9;
    margin-right: 10px;
    background-image: url(img/song.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }

  .bg-link img{
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
  }
  .bg-link a{
    font-size: 12px;
  }
  .al-tap{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: none;
    text-decoration: underline;
    font-size: 12px;
    color: #666;
    float: right;
  }
  .bd-audio audio{
    width: 200px;
    height: 30px;
  }
  .onlie-info h6{
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-top: 15px;
  }
  .caption {
    display: flex;
    height: 600px;
    align-items: stretch;
  }
  .content{
    background-color: #f5f5f5;
    width: 380px;
    padding: 10px;
    color: #000000;
  }
  .content-details{
    display: flex;
  }
  .arrow-content{
    display: flex;
  }
  .stdunt a{
    color: #000000;
    margin-left: 10px;
  }
  .content-details{
    margin-left: 10px;
  }
  .foodter-container{
    margin-top: 50px;
  }
  .last-img{
    margin-left: 225px;
  }
  .arfin-web{
    background-color: #a6a6a6;
    width: 1020px;
    margin-left: 225px;
    height: 100px;
  }
  .arfin-web p{
    margin-right: 15px;
    float: right;
  }
  .arfin-web p a{
    color: red;
    font-size: 20px;
    font-weight: 700;
  }
  .box {
    width: 200px;
  }
  #don-1 {
    order: 2;
  }
  #don {
    order: 1;
    flex-grow: 1;
  }
  
  #home-1 {
    order: 2;
  }
  #home-2 {
    order: 1;
    flex-grow: 1;
  }
  .bd-image-civil img{
    width: 190px;
    margin-left: 5px;
  }
